.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}

body {
  text-align: center;
  background: url('./assets/nature_four.jpeg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}